.navbar-dark{
    background: darkviolet;
}
#buttonlogin{
    color: white;
    text-decoration: none;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: blueviolet;
    color: floralwhite;
    font-style: italic;
}